.list-group-item:hover {
    background-color: whitesmoke;
    border-color: whitesmoke;
}

/* a:link, a:visited{
    color: black;
} */

a:hover{
    color: #0d6efd;
    text-decoration: none !important;
}